<!DOCTYPE html>
<html :lang="lang">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="./assets/tailwindstyles.js"></script>
    <title>lise WCAG 2.2 Guide</title>
  </head>
  <body class="relative">
    <div
      class="md:absolute top-40 md:top-20 w-2/5 md:w-1/5 h-8 flex flex-col items-center"
    >
      <img src="./assets/lise.svg" alt="Logo of lise GmbH" class="" />
    </div>
    <div id="app">
      <header
        class="mx-auto my-8 text-white bg-teal-950 p-8 rounded-xl text-left flex flex-col"
      >
        <div class="w-full flex flex-col md:flex-row">
          <div class="sm:w-3/4">
            <h1 class="font-bold text-4xl text-center md:text-left">
              WCAG 2.2 Guide
            </h1>
            <p v-if="lang==='de'" class="!text-sm leading-loose mt-4 md:pr-8">
              Ein WCAG Reiseführer entwickelt mit Herzblut von den Mädels und
              Jungs der lise. Diese Dokument basiert auf der

              <a
                class="underline"
                href="https://www.w3.org/TR/2024/REC-WCAG22-20241212/"
                >der WCAG vom 12 December 2024</a
              >
            </p>
            <p v-else class="!text-sm leading-loose mt-4 md:pr-8">
              A hitchhikers guide to WCAG by the girls and boys working at lise.
              This document is based on
              <a
                class="underline"
                href="https://www.w3.org/TR/2024/REC-WCAG22-20241212/"
                >the WCAG from 12 December 2024</a
              >
            </p>
          </div>
          <img
            src="./assets/wcag.svg"
            class="w-32 my-4 mx-auto"
            alt="Logo of wcag 2.2 aaa"
          />
        </div>
        <nav class="w-full flex flex-col md:flex-row pt-8">
          <ul class="flex flex-row space-x-2">
            <li>
              <a class="navButton" href="bfsg-relevanz.html">
                Ist mein Projekt betroffen?
              </a>
            </li>
            <li>
              <a class="navButton" href="bfsg-relevanz.html">
                Tools & Plugins in der Lise
              </a>
            </li>
            <li>
              <a class="navButton" href="bfsg-relevanz.html">
                Community Of Practice BFSG
              </a>
            </li>
            <li>
              <a v-if="lang==='de'" class="navButton" @click="lang = 'en'">
                switch to english
              </a>
              <a v-else class="navButton" @click="lang = 'de'">
                auf deutsch umschalten
              </a>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Filter Sidebar -->

      <aside
        class="transition z-50 ease-in-out transform filter w-full md:w-[300px] mx-auto my-4 text-xs rounded-md px-8 py-4 md:fixed top-0 right-2 shadow-lg shadow-emerald-800/50 bg-teal-950 opacity-95"
        :class="{'translate-x-[80%] h-18 overflow-hidden': asideClose}"
      >
        <div class="flex items-center">
          <button
            aria-label="collapse"
            class="text-lise rounded-sm w-10 h-10 cursor-pointer hover:bg-darklise -ml-4 hidden md:block mr-8"
            @click="asideClose=!asideClose"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              enable-background="new 0 0 24 24"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="currentColor"
              class="transform ml-2"
              :class="{'rotate-180': !asideClose}"
            >
              <g><rect fill="none" height="24" width="24" /></g>
              <g>
                <g>
                  <polygon
                    points="17.59,18 19,16.59 14.42,12 19,7.41 17.59,6 11.59,12"
                  />
                  <polygon
                    points="11,18 12.41,16.59 7.83,12 12.41,7.41 11,6 5,12"
                  />
                </g>
              </g>
            </svg>
          </button>
          <h2
            v-if="lang==='de'"
            class="text-base font-bold sm:opacity-60 py-4 md:py-0"
          >
            Einträge eingrenzen
          </h2>
          <h2 v-else class="text-base font-bold sm:opacity-60 py-4 md:py-0">
            Filter the entries
          </h2>
        </div>

        <div class="flex flex-col py-4">
          <div class="w-full pb-4">
            <label class="font-bold">Conformance level</label>
          </div>
          <div class="w-full flex justify-between items-center">
            <label
              v-for="level in conformanceLevels"
              :key="level"
              class="px-1 py-4 flex flex-col items-center justify-around w-20 border border-transparent cursor-pointer"
              :class="{' border-white rounded-md text-lise':selectedConformanceLevel===level}"
            >
              <input
                type="radio"
                v-model="selectedConformanceLevel"
                :value="level"
              />

              <!-- <span class="font-bold text-lg pt-2">{{level}}</span> -->
              <div
                v-if="level==='AAA'"
                class="font-bold flex flex-wrap text-md pt-2 justify-center"
              >
                <div
                  class="w-5 h-6 mr-1 bg-darklise text-center flex items-center justify-center rounded-tl-md"
                >
                  A
                </div>
                <div
                  class="w-8 h-6 bg-darklise text-center flex items-center justify-center rounded-tr-md"
                >
                  AA
                </div>
                <div
                  class="w-14 mt-1 h-6 bg-darklise text-center flex items-center justify-center rounded-b-md"
                >
                  AAA
                </div>
              </div>
              <div
                v-if="level==='AA'"
                class="font-bold flex flex-wrap text-md pt-2 justify-center"
              >
                <div
                  class="w-14 h-6 bg-darklise text-center flex items-center justify-center rounded-t-md"
                >
                  A
                </div>
                <div
                  class="w-14 h-6 bg-darklise text-center flex items-center mt-1 justify-center rounded-b-md"
                >
                  AA
                </div>
              </div>
              <div
                v-if="level ==='A'"
                class="font-bold flex flex-wrap text-md pt-2 justify-center"
              >
                <div
                  class="w-14 h-14 bg-darklise text-center flex items-center justify-center rounded-md"
                >
                  A
                </div>
              </div>
            </label>
          </div>
        </div>

        <!-- Tags List -->
        <label v-if="lang==='de'" class="font-bold pb-4"
          >Filtern nach Rolle</label
        >
        <label v-else class="font-bold pb-4">Filter Perspective</label>
        <div class="flex flex wrap">
          <select
            class="bg-darklise p-2 rounded-md w-full mt-2 mb-4"
            v-model="selectedPerspective"
            id="perspective"
          >
            <option
              v-for="perspective in possiblePerspectives"
              :key="perspective.id"
              :value="perspective.id"
            >
              {{perspective.name[lang]}}
            </option>
          </select>
        </div>
        <span
          v-if="selectedPerspectiveDescription && selectedPerspectiveDescription.description"
          >{{selectedPerspectiveDescription.description[lang]}}
        </span>
        <label class="font-bold block pt-4"></label>
        <div
          v-for="filter in filters"
          :key="filter.name"
          class="flex pt-2 h-12 checkbox-container"
        >
          <label v-if="filter.question" class="w-3/4 pr-2 cursor-pointer"
            >{{filter.question[lang]}}
          </label>
          <button
            class="rounded-full w-[50px] bg-darklise p-1 inline-block h-6 relative cursor-pointer"
            :class="{'bg-lise':selectedTags.includes(filter.name),'bg-darklise':!selectedTags.includes(filter.name)}"
            @click="toggleTag(filter.name)"
          >
            <span
              class="toggle"
              :class="{'translate-x-[10px] bg-darklise':selectedTags.includes(filter.name),'-translate-x-[10px] bg-white':!selectedTags.includes(filter.name)}"
            ></span>
          </button>
          <span v-if="lang=='de'" class="w-10 h-6 flex justify-end items-center"
            >{{selectedTags.includes(filter.name)?"Ja":"Nein"}}</span
          >
          <span v-else class="w-10 h-6 flex justify-end items-center"
            >{{selectedTags.includes(filter.name)?"Yes":"No"}}</span
          >

          <hr />
        </div>

        <label class="mt-5 block text-lg">
          <span v-if="lang==='de'"> Angezeigte Einträge: </span>
          <span v-else> Applicable entries: </span>
          <span class="text-lise">{{ filteredContent.length }}</span>
        </label>
      </aside>

      <!-- Filtered Content -->
      <main>
        <section v-for="entry in filteredContent" :key="entry.name[lang]">
          <div class="relative">
            <component :is="`h${entry.level+1}`" class=""
              >{{ entry.name[lang] }}
              <button
                v-if="entry.understanding.length > 5 && showUnderstanding !== entry.name[lang]"
                class="ml-2 inline h-6 w-6 text-sm leading-none bg-emerald-950 hover:bg-emerald-800 hover:text-lise cursor-pointer rounded-full"
                aria-label="more"
                @click="showUnderstanding = entry.name[lang]"
              >
                ?
              </button>
            </component>

            <div v-if="entry.conformance" class="conformance">
              {{ entry.conformance }}
            </div>
          </div>
          <div
            v-if="entry.understanding.length > 5  && showUnderstanding === entry.name[lang]"
            class="infobox"
          >
            <span class="understanding" v-html="entry.understanding"></span>
          </div>
          <template v-for="tag in entry.tags" :key="tag"
            ><span class="tag" v-if="tag && tag.length > 1"
              >{{tag}}</span
            ></template
          >
          <div
            v-if="entry.easyLanguage && entry.easyLanguage[lang]"
            class="px-4 py-4 my-2 bg-teal-800 rounded-md"
            v-html="entry.easyLanguage[lang]"
          ></div>
          <details v-if="entry.easyLanguage[lang]!==''">
            <summary class="underline cursor-pointer">
              WCAG Spezifikation
            </summary>
            <div v-html="entry.content[lang]"></div>
          </details>
          <div v-else v-html="entry.content[lang]"></div>
        </section>
      </main>
    </div>
    <!-- <script src="./node_modules/vue/dist/vue.global.js"></script> -->

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp, ref, computed, onMounted, watch } = Vue;

      createApp({
        setup() {
          // Translation Prop
          const lang = ref("de");
          // Filter Flyout
          const asideClose = ref(false);
          // Understanding Accordeon
          const showUnderstanding = ref("");

          const content = ref([]);
          const possiblePerspectives = ref([]);
          const filters = ref([]);

          onMounted(async () => {
            try {
              const response = await fetch("./data/wcag22_tag_2502271317.json");
              content.value = await response.json();
              cleanUpTagsInContent();
              extractTags(); // Extract tags after loading content
              const responsePerspectives = await fetch(
                "./data/perspectives.json"
              );
              possiblePerspectives.value = await responsePerspectives.json();
              const responseFilters = await fetch("./data/filters.json");
              filters.value = await responseFilters.json();
              selectedTags.value = filters.value.map((item) => item.name);
            } catch (error) {
              console.error("Error loading JSON:", error);
            }
          });

          // -----------------------------------------------Tags
          const selectedTags = ref([]);
          const resetTags = () => {
            selectedTags.value = [];
          };
          const tags = ref([]);
          // Extract all tags from content an write it into the data prop
          const extractTags = () => {
            const allTagsSet = new Set();
            content.value.forEach((entry) => {
              if (entry.tags && Array.isArray(entry.tags)) {
                entry.tags.forEach((tag) => {
                  if (isValidTag(tag)) {
                    allTagsSet.add(tag);
                    console.log(tag);
                  }
                });
              }
            });
            // console.log(allTagsSet);
            tags.value = Array.from(allTagsSet);
          };

          const isValidTag = (tag) => {
            return tag && tag.length > 1;
          };

          const cleanUpTagsInContent = () => {
            content.value.forEach((entry) => {
              if (entry.tags && Array.isArray(entry.tags)) {
                entry.tags = entry.tags.filter((tag) => tag !== "");
                entry.tags = entry.tags.filter((tag) => tag !== " ");
                entry.tags = entry.tags.filter((tag) => tag !== "-");
                entry.tags = entry.tags.filter((tag) => tag !== null);
                console.log("tag", entry.tags);
              }
            });
          };
          // Toggle tag selection
          const toggleTag = (tag) => {
            if (selectedTags.value.includes(tag)) {
              selectedTags.value = selectedTags.value.filter((t) => t !== tag);
            } else {
              selectedTags.value.push(tag);
            }
          };

          // Compute available tags dynamically
          const allTags = computed(() => tags.value);

          const selectedConformanceLevel = ref("AAA");
          const conformanceLevels = ["A", "AA", "AAA"];

          const selectedPerspective = ref("all");
          const selectedPerspectiveDescription = computed(() => {
            if (!selectedPerspective.value) return null;
            // Use find instead of filter to get a single object
            return possiblePerspectives.value.find(
              (perspective) => perspective.id === selectedPerspective.value
            );
          });

          // Compute filtered content
          const filteredContent = computed(() => {
            return (
              content.value
                // Filter Conformance
                .filter((entry) => {
                  // Always show level 1 and 2 entries
                  if (entry.level == 1) {
                    return true;
                  }
                  // Filter by conformance level
                  if (selectedConformanceLevel.value === "A") {
                    return (
                      entry.conformance === "A" || entry.conformance === ""
                    );
                  } else if (selectedConformanceLevel.value === "AA") {
                    return (
                      entry.conformance === "AA" ||
                      entry.conformance === "A" ||
                      entry.conformance === ""
                    );
                  } else if (selectedConformanceLevel.value === "AAA") {
                    return true;
                  }

                  return true;
                })
                // Filter Perspectives
                .filter((entry) => {
                  if (entry.level == 1) {
                    return true;
                  }

                  if (
                    selectedPerspective.value &&
                    selectedPerspective.value == "all"
                  ) {
                    return true;
                  }
                  return (
                    entry.perspective &&
                    entry.perspective.some(
                      (per) => selectedPerspective.value === per
                    )
                  );
                })
                .filter((entry) => {
                  if (!selectedTags.value || selectedTags.value.length === 0) {
                    return true; // Keine Tags ausgewählt → Zeige alle Einträge
                  }

                  if (!entry.tags || entry.tags.length === 0) {
                    return true; // Einträge ohne Tags bleiben erhalten
                  }

                  // Prüfen, ob ALLE Tags des Eintrags in selectedTags enthalten sind
                  const allTagsInSelected = entry.tags.every((tag) =>
                    selectedTags.value.includes(tag)
                  );

                  // Falls alle Tags in selectedTags enthalten sind, den Eintrag ignorieren (nicht anzeigen)
                  return !allTagsInSelected;
                })
            );
          });

          return {
            content,
            filteredContent,
            selectedConformanceLevel,
            allTags,
            selectedTags,
            toggleTag,
            resetTags,
            asideClose,
            conformanceLevels,
            possiblePerspectives,
            selectedPerspective,
            selectedPerspectiveDescription,
            filters,
            lang,
            showUnderstanding,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
